@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(
    135deg,
    #0b0d11 0%,
    #1a2333 40%,
    #2d3f5f 70%,
    #4a6fa3 100%
  );

  background-attachment: fixed;

  color: white;

  font-family: Arial, Helvetica, sans-serif;
}